div, ul, li, img, a {
    border: red 2px solid;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
    display: flex;
    flex-direction: column;
}


header, .hero-text-area {
    background-color: #1F2937;
    color: #E5E7EB;
    padding:0% 0%;
}

.header-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

#header-logo {
    height: 40px;
}

#header-links a {
    text-decoration: none;
    font-size: 18px;
}


ul#header-links {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 50px;
}