div, ul, li, img, a {
    border: red 2px solid;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
    
}

header, .hero-text-area {
    background-color: #1F2937;
    padding: 5px 15%;
}
.header-area {
    /* padding: 5px 15% 5px 15%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#header-logo {
    height: 40px;
}

#header-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    
}


ul#header-links {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 50px;
}